.presentation {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;

  color: var(--font-primary);
  width: 100%;
  max-width: 500px;
}

.presentation h2 {
  font-weight: 400;
  font-size: 1rem;
}

.presentation h2:nth-child(3) {
  border-bottom: var(--font-primary);
  padding: 0 15px;
}

.presentation .boxName {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
}

.presentation .cursor {
  display: inline-block;
  width: 2px;
  height: 34px;
  background: var(--font-primary);
}

.presentation .contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  width: 100%;
}

.presentation .contacts a {
  z-index: 1;
}

.presentation .contacts .icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 380px) {
  .presentation .boxName {
    font-size: 0.7rem;
  }

  .presentation h2 {
    font-size: 0.6rem;
  }
}