.modal .buttons {
	display: flex;
	align-items: center;
	gap: 10px;

	position: absolute;
	bottom: 20px;
	left: 20px;
}

.modal .buttons button {
	width: 95px;
	height: 40px;
	border-radius: 7px;
	background: var(--primary);
	color: var(--font-primary);
	cursor: pointer;
	font-weight: bold;
}

@media (max-width: 380px) {
	.modal .buttons {
		left: 5px;
	}
}