#skillPage {
	background: var(--primary);
	color: var(--font-primary);
}

#skillPage .skill-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-auto-rows: 200px;
	align-items: center;
	justify-content: center;
	gap: 20px;

	width: 100%;
}

@media (max-width: 480px) {
	#skillPage .skill-content {
		display: grid;
		grid-template-columns: 100%;
		grid-auto-rows: auto;
		align-items: center;
		justify-content: center;
		gap: 20px;
	
		width: 100%;
	}
}