.modal {
	display: none;
	justify-content: space-between;
	align-items: center;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-50% + 34.8px));
	width: 100%;
	max-width: 1200px;
	min-height: 70%;
	background: #444;
	border-radius: 10px;
	padding: 20px;
}

.modal.active {
	display: flex;
}

.modal h3 {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 1.5rem;
}

.modal .box-video {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal .box-video > div:first-child {
	width: 55%;
}

.modal .box-video > div video {
	width: 100%;
}

.modal .box-video > div:nth-child(2) {
	align-self: flex-start;
	width: 42%;
}

.modal .close-modal {
	position: absolute;
	background: inherit;
	border: none;
	width: 30px;
	height: 30px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.modal .close-modal .close {
	width: 100%;
	height: 100%;
}

@media (max-width: 765px) {
	.modal .box-video {
		flex-direction: column;
		gap: 20px;
		margin: 50px;
		align-items: center;
	}

	.modal .box-video > div:first-child {
		width: 100%;
	}

	.modal .box-video > div:nth-child(2) {
		align-self: center;
		width: 100%;
	}
}