#aboutPage .about-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#aboutPage .about-content .description {
  width: 40%;
  padding: 50px;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  font-weight: 500;
}

#aboutPage .about-content .description P:first-child {
  margin-bottom: 10px;
}

#aboutPage .about-content .img-content {
  aspect-ratio: 1/1;
  width: 40%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

#aboutPage .about-content .img-content img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

@media (max-width: 765px) {
  #aboutPage .about-content {
    flex-direction: column;
    gap: 20px;
  }

  #aboutPage .about-content .description {
    width: 100%;
  }

  #aboutPage .about-content .img-content {
    width: 100%;
  }
}

@media (max-width: 380px) {
  #aboutPage .about-content .description {
    font-size: 0.8rem;
    letter-spacing: 0px;
  }
}